<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="WalletZen"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTL_ANDROID_TANGHUUHUY"
        android:usesCleartextTraffic="true">

        <!-- SPLASH (launcher) -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.BTL_ANDROID_TANGHUUHUY">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AUTH -->
        <activity android:name=".ui.auth.LoginActivity" android:exported="false" />
        <activity android:name=".ui.auth.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.auth.ForgotPasswordActivity" android:exported="false" />

        <!-- HOME -->
        <activity android:name=".ui.home.HomeActivity" android:exported="false" />

        <!-- TRANSACTION -->
        <activity android:name=".ui.transaction.AddTransactionActivity" android:exported="false" />

        <!-- DETAIL -->
        <activity android:name=".ui.detail.TransactionDetailActivity" android:exported="false" />

        <!-- STATISTICS -->
        <activity android:name=".ui.statistics.StatisticsActivity" android:exported="false" />

        <!-- PROFILE -->
        <activity android:name=".ui.profile.ProfileActivity" android:exported="false" />

    </application>

</manifest>